body{
    background-color: rgb(98, 236, 183);
    font-size: large;
}
#score_result{
    font-size: 35px;
    margin-right: 1300px;
}
#timer{
    font-size:35px;
    float:right;
    margin-right: 40px;
}
#sketch_to_draw{
    color:rgb(5, 92, 146);
}
h1
{
  font-family: 'Special Elite', fantasy;
  color:rgb(38, 0, 255);
  background-color: cornsilk;
}

#show_sketch
{
  float:right;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}
span
  {
    padding-top:10px;
    font-family: 'Caveat', cursive;
    font-size:25px;
  }
p{
  padding-top:10px;
  font-family: 'Dancing Script', cursive;
  font-size:25px;
}
button{
  font-family: 'Fredoka', sans-serif;
}
